<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxia.data.Dao.DataDao">
    <!-- 查询保存环境温湿度数据 -->
    <select id="selecEnvData" resultType="com.sanxia.data.pojo.EnvData">
        SELECT DISTINCT envId, parentId, envName, envType, envTypeName, envCoverUrl,collectTime,envirParamType,envirParamValue FROM ${param1}
    </select> 
    <!-- 查询保存环境列表 -->
    <select id="selectSanxia" resultType="com.sanxia.data.pojo.SanxiaData">
        SELECT DISTINCT envId, parentId, envName, envType, envTypeName, envCoverUrl FROM ${param1} where envId is not null
    </select>
    <!-- 按照envId查询  -->
    <select id="selectEnvLevel" resultType="com.sanxia.data.pojo.envLevel">
        SELECT DISTINCT num, cnName, parentID FROM ${param1} where num=${param2}
    </select>
    <!-- 插入sanxia_exhibition表   -->
    <insert id="insertSanxiaExList" parameterType="List">
        INSERT IGNORE INTO ${param1} (locationID,locationName,texture,culturalRelicLevel,culturalRelicID,zoneID,culturalRelic)
        <foreach collection="sanxiaExhLists" open="values" item="item" separator=",">
            (
            #{item.locationID},#{item.locationName},#{item.texture},#{item.culturalRelicLevel},#{item.culturalRelicID},#{item.zoneID},#{item.culturalRelic}
            )
        </foreach>
    </insert>
    <!-- 插入Sanxia_Data表 -->
    <insert id="insertSanxiaData" parameterType="List">
        INSERT IGNORE INTO ${param1} (locationID,parentId,locationName,envType,envTypeName,envCoverUrl, sensorPhysicalID, cnName, units, sensorPhysicalValue, timestamps)
        <foreach collection="sxDataList" open="values" item="item" separator=",">
            (
            #{item.locationID},#{item.parentId},#{item.locationName},#{item.envType},#{item.envTypeName},#{item.envCoverUrl},#{item.sensorPhysicalID},#{item.cnName},#{item.units},#{item.sensorPhysicalValue},#{item.timestamps}
            )
        </foreach>
    </insert>

    <!--三峡保存空间数据插入数据库-->
    <insert id="insertEnv" parameterType="List">
        INSERT IGNORE INTO sanxia_museum_levelInfor (envId, parentId, envName, envType, envTypeName, envCoverUrl)
        <foreach collection="sanxiaDataList" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.parentId},#{item.envName},#{item.envType},#{item.envTypeName},#{item.envCoverUrl}
            )
        </foreach>
    </insert>
    <!--三峡环境因子数据插入数据库-->
    <insert id="insertEnvTypeMeta" parameterType="List">
        INSERT IGNORE INTO ${param1} (envirParamType,envirDataUnit,envirParamName,envirParamCode)
        <foreach collection="envTypeList" open="values" item="item" separator=",">
            (
            #{item.envirParamType},#{item.envirDataUnit},#{item.envirParamName},#{item.envirParamCode}
            )
        </foreach>
    </insert>
    <!--向三峡数据库插入所有设备列表-->
    <insert id="insertDeviceList" parameterType="List">
        INSERT IGNORE INTO ${param1} (envId,envName,deviceId,deviceName,deviceType,deviceTypeName,deviceFactory,collectTime,deviceRegisterTime,deviceStatus,envirParamType,envirDataUnit,envirParamName,envirParamCode)
        <foreach collection="deviceList" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.envName},#{item.deviceId},#{item.deviceName},#{item.deviceType},#{item.deviceTypeName},#{item.deviceFactory},#{item.collectTime},#{item.deviceRegisterTime},#{item.deviceStatus},#{item.envirParamType},#{item.envirDataUnit},#{item.envirParamName},#{item.envirParamCode}
            )
        </foreach>
    </insert>
    <!--向三峡数据库插入环境类型数据-->
    <insert id="insertEnvTypes" parameterType="List">
        INSERT IGNORE INTO environmentTypes (envType,envTypeName)
        <foreach collection="envTypes" open="values" item="item" separator=",">
            (
            #{item.envType},#{item.envTypeName}
            )
        </foreach>

    </insert>
    <!--三峡保存空间内的环境数据插入数据库-->
    <insert id="insertEnvData" parameterType="List">
        INSERT IGNORE INTO ${param1} (envId, parentId, envName, envType, envTypeName, envCoverUrl,collectTime,envirParamType,envirParamValue)
        <foreach collection="envData" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.parentId},#{item.envName},#{item.envType},#{item.envTypeName},#{item.envCoverUrl},#{item.collectTime},#{item.envirParamType},#{item.envirParamValue}
            )
        </foreach>
    </insert>
    <!--按时间向三峡数据库插入保存空间内的环境数据-->
    <insert id="insertEnvDataBytime" parameterType="List">
        INSERT IGNORE INTO ${param1} (envId, parentId, envName, envType, envTypeName, envCoverUrl,collectTime,envirParamType,envirParamValue)
        <foreach collection="envData" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.parentId},#{item.envName},#{item.envType},#{item.envTypeName},#{item.envCoverUrl},#{item.collectTime},#{item.envirParamType},#{item.envirParamValue}
            )
        </foreach>
    </insert>
    <!-- 向数据库插入保存空间中的文物列表 -->
    <insert id='insertRelicList' parameterType="List">
        INSERT IGNORE INTO ${param1} (envId,envName,envType,relicId,updateDate,museumName,relicCode,relicName,relicYears,relicLevel,relicTexture,relicState,relicImage)
        <foreach collection="relicList" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.envName},#{item.envType},#{item.relicId},#{item.updateDate},#{item.museumName},#{item.relicCode},#{item.relicName},#{item.relicYears},#{item.relicLevel},#{item.relicTexture},#{item.relicState},#{item.relicImage}
            )
        </foreach>
    </insert>

</mapper>