<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanxia.data.Dao.DataDao">
    <!--数据插入数据库-->
    <insert id="insertSanxiaData" parameterType="List">
        INSERT IGNORE INTO sanxiaTable (envId, parentId, envName, envType, envTypeName, envCoverUrl)
        <foreach collection="sanxiaDataList" open="values" item="item" separator=",">
            (
            #{item.envId},#{item.parentId},#{item.envName},#{item.envType},#{item.envTypeName},#{item.envCoverUrl}
            )
        </foreach>
    </insert>


</mapper>